@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter24pt-Regular.woff2") format("woof2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter24pt-SemiBold.woff2") format("woof2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;

  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill="none"], [fill^="url"])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke="none"], [stroke^="url"])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --Main-Primary: #e9ecee;
  --Main-Primary-2: #f8f9fd;
  --Main-Firstly: #a8b1ce;
  --Main-Secondary: #80a0ff;

  --Text-button: #f0f5fd;
  --Text-Prymary: #1f1f1f;
  --Text-Secondary: #696e82;
  --Text-third: #5a81fa;

  --State-Button: #5a80fd;
  --State-Button-hower: #cedeff;
  --State-Button-active: #2b308b;

  --shadow-little: 0px 3px 12px 0px rgba(29, 29, 29, 0.2);
  --shadow-big: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);

  --border-radius-button: 8px;
  --border-button: none;

  --border-radius-reg: 16px;
  --border-reg: 1px solid var(--Text-Secondary);

  --font-family-base: "Inter", sans-serif;

  --input-height: 40px;

  --container-width: 1670px;
  --container-padding-x: 15px;

  --transition-duration: 0.2s;
}

body {
  font-family: var(--font-family-base);
  font-size: 22px;
  line-height: 1.75;
  color: var(--Main-Primary);
  background-color: var(--Main-Primary-2);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: var(--Text-Prymary);
  text-decoration: none;
}

a:hover {
  color: var(--Main-Secondary);
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  text-transform: uppercase;
}

.button {
  display: inline-flex;
  align-items: center;
  height: 48px;
  padding-inline: 24px;
  color: var(--Text-button);
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: 2;
  white-space: nowrap;
  background-color: var(--State-Button);
  border: none;
  border-radius: var(--border-radius-button);
  text-transform: lowercase;
  box-shadow: var(--shadow-little);
}

.button:hover {
  color: var(--State-Button-hower);
  background-color: var(--State-Button-active);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  padding-inline: 38px;
}

.header-logo {
  flex-shrink: 0;
}

.info-display {
  flex-shrink: 0;
}

.header-menu-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 32px;
}

.header-menu-link {
  display: inline-flex;
  align-items: center;
  height: 125px;
  text-decoration: none;
  text-transform: lowercase;
  font-weight: 400;
  font-size: 18px;
  white-space: nowrap;
}

.info-container {
  display: flex;
  background-color: var(--Main-Secondary);
  box-shadow: var(--shadow-big);
}

.info {
  display: flex;
  width: 1440px;
  padding: 32px 90px;
}

.info-card-body {
  padding-top: 90px;
  padding-bottom: 15px;
  padding-left: 30px;
}

.backdrop-title {
  font-size: 40px;
  line-height: 46px;
  font-style: normal;
  letter-spacing: 1px;
}

.info-lower-text {
  padding-top: 5px;
  padding-bottom: 35px;
  font-weight: 400;
  font-size: 19px;
  line-height: 20px;
}

.banner-title {
  color: var(--Text-third);
  text-align: center;
  margin-top: 90px;
  font-size: 40px;
  line-height: 46px;
  font-style: normal;
  letter-spacing: 1px;
  padding-bottom: 15px;
}

.banner-colums {
  gap: 24px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.banner-content-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  max-width: 300px;
  border: 2px solid #ffffff00;
  box-shadow: var(--shadow-big);
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  background-color: transparent;
}

.banner-colums-text {
  color: var(--Text-third);
  font-size: 33px;
  line-height: 42px;
  padding-bottom: 15px;
}

.banner-bigger {
  font-size: 22px;
  line-height: 27px;
  color: var(--Text-Secondary);
}

.banner-content-column-large {
  flex: 2;
  max-width: 600px;
  padding: 24px;
  background-color: #ffffff10;
  box-shadow: var(--shadow-big);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-colums-text-small {
  color: var(--Text-third);
  font-size: 16.5px;
  line-height: 21px;
  padding-bottom: 10px;
}

.banner-smaller {
  color: var(--Text-Secondary);
  font-size: 12px;
  line-height: 14px;
}

.banner-small-img {
  width: 205px;
  height: 195px;
  flex-shrink: 0;
  object-fit: contain;
}

.banner-big-img {
  width: 390px;
  height: 330px;
  flex-shrink: 0;
  object-fit: contain;
  padding-bottom: 10px;
}

.example {
  padding-top: 90px;
}

.example-container {
  display: flex;
  align-items: stretch;
  gap: 24px;
  max-width: 1200px;
  margin: 0 auto;
}

.example-left-image {
  flex: 1;
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-left-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.example-info-columns {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.example-info-column {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--Main-Secondary);
  padding: 16px;
  border-radius: 8px;
  box-shadow: var(--shadow-big);
  gap: 16px;
}

.example-info-column .icon {
  flex-shrink: 0;
}

.example-info-column .icon img {
  width: 48px;
  height: 48px;
}

.example-info-column .example-text h3 {
  margin-bottom: 10px;
  font-size: 1.25rem;
}

.example-info-column .example-text p {
  margin: 0;
  font-size: 1rem;
}

.form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 90px 20px 20px 32px;
}

.form-content {
  max-width: 600px;
  width: 100%;
}

.form-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--Text-Secondary);
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-size: 16px;
  display: block;
  margin-bottom: 5px;
  color: var(--Text-Secondary);
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 16px;
}

.form-checkbox-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.form-checkbox-group input {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.form-submit-btn {
  background-color: var(--State-Button);
  color: var(--Text-button);
  padding: 10px 20px;
  border: none;
  border-radius: 16px;
  font-size: 16px;
  cursor: pointer;
}

.form-submit-btn:hover {
  background-color: var(--State-Button-active);
}

.form-image-container {
  flex: 1;
  margin-left: 90px;
  margin-top: 90px;
}

.form-big-image {
  width: 100%;
  height: auto;
  max-width: 500px;
}

.form-checkbox-group input:checked {
  background-color: var(--Main-Secondary);
  border-color: var(--State-Button-hower);
}

.form-checkbox-group input:checked + label {
  color: var(--Main-Secondary);
}

.faq-section {
  padding: 40px 20px;
  background-color: #f9f9f9;
  text-align: center;
}

.faq-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--Text-Secondary);
  text-align: left;
}

.faq-columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px;
}

.faq-column {
  width: 100%;
  background-color: #80a0ff10;
  border-radius: 8px;
  margin: 10px 0;
  box-shadow: 0 2px 4px rgba(130, 131, 132, 0.247);
}

.faq-item {
  padding: 15px;
  border-bottom: 1px solid rgba(189, 211, 244, 0.492);
}

.faq-question {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  color: var(--Text-Prymary);
}

.faq-arrow {
  font-size: 24px;
  transition: transform 0.3s ease;
}

.faq-answer {
  display: none;
  padding-top: 10px;
  font-size: 18px;
  color: var(--Text-Secondary);
  line-height: 1.5;
  text-align: left;
}

.faq-item.open .faq-answer {
  display: block;
}

footer {
  background-color: var(--Main-Secondary);
  padding: 32px 120px 32px 120px;
  margin-top: 90px;
  box-sizing: border-box;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
}

.logo img {
  max-height: 40px;
  margin-right: 30px;
}

.navigation {
  text-align: left;
  margin-right: auto;
}

.nav-title {
  color: var(--Main-Primary-2);
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 10px;
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation li {
  margin-bottom: 8px;
}

.navigation a {
  color: var(--Main-Primary-2);
  text-decoration: none;
}

.contact {
  text-align: right;
}

.contact p {
  color: var(--Main-Primary-2);
  margin: 0;
}

.phone {
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  font-family: monospace;
  margin-top: 5px;
}

.faq-item.open .faq-arrow {
  transform: rotate(180deg);
}

@media (max-width: 1250px) {
  .header {
    flex-wrap: wrap;
    row-gap: 10px;
    padding-top: 20px;
    padding-inline: 15px;
  }

  .header-menu {
    order: 1;
    flex-basis: 100%;
  }

  .header-menu-link {
    height: 50px;
  }
}

@media (max-width: 767px) {
  .button {
    padding-inline: 18px;
  }
  .header {
    padding-top: 10px;
  }

  .header-menu-list {
    column-gap: 24px;
  }

  .header-menu-link {
    height: 32px;
  }

  .header-actions {
    column-gap: 15px;
  }
  .example-container {
    flex-direction: column;
  }

  .example-left-image {
    max-width: 100%;
    margin-bottom: 16px;
  }

  .example-info-columns {
    gap: 12px;
  }
  .faq-columns {
    flex-direction: column;
  }

  .faq-column {
    width: 100%;
    margin-bottom: 20px;
  }
}
