@font-face {
  font-family: "Inter";
  src: url("fonts/Inter24pt-Regular.woff2") format("woof2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("fonts/Inter24pt-SemiBold.woff2") format("woof2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;

  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill="none"], [fill^="url"])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke="none"], [stroke^="url"])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --Main-Primary: #e9ecee;
  --Main-Primary-2: #f8f9fd;
  --Main-Firstly: #a8b1ce;
  --Main-Secondary: #80a0ff;

  --Text-button: #f0f5fd;
  --Text-Prymary: #1f1f1f;
  --Text-Secondary: #696e82;
  --Text-third: #5a81fa;

  --State-Button: #5a80fd;
  --State-Button-hower: #cedeff;
  --State-Button-active: #2b308b;

  --shadow-little: 0px 3px 12px 0px rgba(29, 29, 29, 0.2);
  --shadow-big: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);

  --border-radius-button: 8px;
  --border-button: none;

  --border-radius-reg: 16px;
  --border-reg: 1px solid var(--Text-Secondary);

  --font-family-base: "Inter", sans-serif;

  --input-height: 40px;

  --container-width: 1670px;
  --container-padding-x: 15px;

  --transition-duration: 0.2s;
}

body {
  font-family: var(--font-family-base);
  font-size: 22px;
  line-height: 1.75;
  color: var(--Main-Primary);
  background-color: var(--Main-Primary-2);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: var(--Text-Prymary);
  text-decoration: none;
}

a:hover {
  color: var(--Main-Secondary);
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  text-transform: uppercase;
}

.button {
  display: inline-flex;
  align-items: center;
  height: 48px;
  padding-inline: 24px;
  color: var(--Text-button);
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: 2;
  white-space: nowrap;
  background-color: var(--State-Button);
  border: none;
  border-radius: var(--border-radius-button);
  text-transform: lowercase;
  box-shadow: var(--shadow-little);
}

.button:hover {
  color: var(--State-Button-hower);
  background-color: var(--State-Button-active);
}

.ufive_uptop {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 60px;
  height: 60px;
  background: linear-gradient(45deg, #5982fd, #799bff);
  border: none;
  border-radius: 50%;
  box-shadow: var(--shadow-big);
  opacity: 0;
  cursor: pointer;
  transform: scale(0.8) rotate(-90deg);
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.ufive_uptop:hover {
  transform: scale(1) rotate(0deg);
  background: linear-gradient(45deg, #2575fc, #4f11cb);
  box-shadow: var(--shadow-big);
}

.ufive_uptop::before {
  content: "";
  position: absolute;
  top: 22.5px;
  left: 50%;
  width: 15px;
  height: 15px;
  border-left: 3px solid white;
  border-bottom: 3px solid white;
  transform: translateX(-50%) rotate(135deg);
}

.ufive_upview {
  opacity: 1;
  transform: scale(1) rotate(0deg);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  padding-inline: 38px;
  box-shadow: 0px 5px 10px 0px var(--State-Button);
  position: relative;
  z-index: 2;
}

.header-logo {
  flex-shrink: 0;
}

.header-menu-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 32px;
}

.header-menu-link {
  display: inline-flex;
  align-items: center;
  height: 125px;
  text-decoration: none;
  text-transform: lowercase;
  font-weight: 400;
  font-size: 18px;
  white-space: nowrap;
}

.search-main {
  position: relative;
  z-index: auto;
}

.search {
  display: flex;
  justify-content: center;
  background: var(--Main-Secondary);
  padding: 10px;
}

.search-item {
  color: var(--Text-button);
  padding: 10px 20px;
  display: inline-flex;
  align-items: center;
  height: 50px;
  text-decoration: none;
  text-transform: lowercase;
  font-weight: 400;
  font-size: 18px;
  white-space: nowrap;
}

.search-item:hover {
  color: var(--State-Button-active);
  transition: 0.2s;
}

.info-container {
  display: flex;
  flex-direction: column;
  padding: 35px;
}

.info-display {
  flex-shrink: 0;
  flex: 1 1 auto;
  text-align: center;
}

.info {
  max-width: 1440px;
  margin: 0 auto;
}

.info-with-background {
  background-color: var(--Main-Secondary);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 8px;
  box-shadow: var(--shadow-big);
}

.info-card-image {
  max-width: 100%;
  height: auto;
}

.info-card-body {
  flex: 1 1 auto;
  padding: 0 20px;
}

.info-backdrop-title {
  font-size: 40px;
  line-height: 46px;
  font-style: normal;
  letter-spacing: 1px;
}

.info-lower-text {
  padding: 10px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
}

.info-card-button {
  margin-top: 15px;
}

.wrapper {
  padding: 40px 0;
  background-color: #f9f9f9;
}

.slick-list {
  overflow: visible; /* Слайды не обрезаются */
}

.slider__item img {
  max-width: 100%; /* Изображение подстраивается под ширину контейнера */
  max-height: 200px; /* Ограничение по высоте */
  object-fit: contain; /* Сохраняет соотношение сторон, изображение не обрезается */
}

.slick-track {
  display: flex;
  align-items: center;
  gap: 15px;
}

.slider {
  position: relative;
  padding: 0 60px;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  margin-top: 30px;
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -10px 0 0 0;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 60px;
}

.slider .slick-arrow.slick-prev {
  left: 0;
  background: url('images/arrows/left.svg') 0 0 / 100% no-repeat;
  border-style: none;
}

.slider .slick-arrow.slick-next {
  right: 0;
  background: url('images/arrows/right.svg') 0 0 / 100% no-repeat;
  border-style: none;
}

.slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.slider .slick-dots li {
  list-style: none;
  margin: 0 10px;
}

.slider .slick-dots button {
  font-size: 0;
  width: 15px;
  height: 15px;
  background-color: var(--Main-Secondary);
  border-radius: 50%;
  border-style: none;
}

.slider .slick-dots li.slick-active button {
  background-color: transparent;
  border: 2px solid var(--Main-Secondary);
}

.slider__item {
  transition: all 0.3s ease 0s;
  opacity: 0.6;
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transform: scale(0.6);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.slider__item.active {
  opacity: 1;
  transform: scale(1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.slider__text {
  margin-top: 10px;
  font-size: 16px;
  color: #333;
}

.slick-slide {
  margin: 0 7.5px;
}

.slick-list {
  margin: 0 -7.5px;
}


.banner-title {
  color: var(--Text-third);
  text-align: center;
  margin-top: 50px;
  font-size: 40px;
  line-height: 46px;
  font-style: normal;
  letter-spacing: 1px;
  padding-bottom: 15px;
}

.banner-colums-text {
  color: var(--Text-third);
  font-size: 30px;
  line-height: 42px;
  padding-bottom: 15px;
}


.banner-bigger {
  font-size: 22px;
  line-height: 27px;
  color: var(--Text-Secondary);
}


#employer-info,
#jobseeker-info {
  padding: 60px;
  margin: 30px auto;
  margin-top: 50px;
  max-width: 900px;
  border: none;
  border-radius: 10px;
  box-shadow: var(--shadow-big);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.employer {
  background: var(--Main-Secondary);
}

.employer-info-image img {
  max-width: 100%;
  height: auto;
}

.employer-info-text {
  text-align: center;
  flex: 1 1 auto;
  padding: 0 20px;
}

.employer-high-text {
  line-height: 60px;
  font-style: normal;
  letter-spacing: 1px;
  margin-bottom: 20px;
  line-height: 1.5;
}

.employer-lower-text {
  font-size: 25px;
  text-transform: lowercase;
  line-height: 1.5;
}

.employer-button-register {
  margin-top: 20px;
  line-height: 25px;
}

.jobseeker {
  background: var(--Main-Secondary);
}

.example {
  padding-top: 50px;
  padding-bottom: 40px;
}

.example-container {
  display: flex;
  align-items: stretch;
  gap: 24px;
  max-width: 1200px;
  margin: 0 auto;
}

.example-left-image {
  flex: 1;
  height: 420px;
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-left-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.example-info-columns {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.example-info-column {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--Main-Secondary);
  padding: 16px;
  border-radius: 8px;
  box-shadow: var(--shadow-big);
  gap: 16px;
}

.example-info-column .icon {
  flex-shrink: 0;
}

.example-info-column .icon img {
  width: 48px;
  height: 48px;
}

.example-info-column .example-text h3 {
  margin-bottom: 10px;
  font-size: 1.25rem;
}

.example-info-column .example-text p {
  margin: 0;
  font-size: 1rem;
}

.faq-section {
  margin-top: 90px;
  padding: 50px;
  background-color: #f9f9f9;
  text-align: center;
}

.faq-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--Text-Prymary);
  text-align: left;
}

.faq-columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px;
}

.faq-column {
  width: 100%;
  background-color: #80a0ff10;
  border-radius: 8px;
  margin: 10px 0;
  box-shadow: 0 2px 4px rgba(130, 131, 132, 0.247);
}

.faq-item {
  padding: 15px;
  border-bottom: 1px solid rgba(189, 211, 244, 0.492);
}

.faq-question {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  color: var(--Text-Prymary);
}

.faq-arrow {
  font-size: 24px;
  transition: transform 0.3s ease;
}

.faq-answer {
  display: none;
  padding-top: 10px;
  font-size: 18px;
  color: var(--Text-Secondary);
  line-height: 1.5;
  text-align: left;
}

.faq-item.open .faq-answer {
  display: block;
}

.faq-item.open .faq-arrow {
  transform: rotate(180deg);
}

footer {
  background-color: var(--Main-Secondary);
  padding: 32px 120px 32px 120px;
  margin-top: 50px;
  box-sizing: border-box;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
}

.footer-logo {
  flex-shrink: 0;
}

.footer-navigation {
  text-align: left;
  margin-right: auto;
  margin-left: 30px;
}

.footer-nav-title {
  color: var(--Main-Primary-2);
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 10px;
}

.footer-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-navigation li {
  margin-bottom: 8px;
}

.footer-navigation a {
  color: var(--Main-Primary-2);
  text-decoration: none;
}

.footer-contact {
  text-align: right;
}

.footer-contact p {
  color: var(--Main-Primary-2);
  margin: 0;
}

.footer-phone {
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  font-family: monospace;
  margin-top: 5px;
}

.copyright {
  text-transform: lowercase;
  size: 12px;
  margin-top: 20px;
  color: #b5c8ff;
  place-self: center;
}

@media (max-width: 1250px) {
  .header {
    flex-wrap: wrap;
    row-gap: 10px;
    padding-top: 20px;
    padding-inline: 15px;
  }

  .footer {
    flex-wrap: wrap;
    row-gap: 10px;
    padding-top: 20px;
    padding-inline: 15px;
  }

  .header-menu {
    order: 1;
    flex-basis: 100%;
  }

  .footer-container {
    order: 1;
    flex-basis: 100%;
  }

  .header-menu-link {
    height: 50px;
  }
}

@media (max-width: 767px) {
  .info-with-background {
    flex-direction: column; /* Перестройка элементов в столбец */
    text-align: center;
    padding: 15px;
  }

  .info-card-body {
    padding: 10px 0;
  }

  .info-lower-text {
    font-size: 16px;
  }

  #employer-info {
    flex-direction: column;
  }

  .employer-info-text {
    padding: 10px 0;
  }

  .employer-lower-text {
    font-size: 16px;
  }

  .button {
    padding-inline: 18px;
  }
  .header {
    padding-top: 10px;
  }

  .header-menu-list {
    column-gap: 24px;
  }

  .header-menu-link {
    height: 32px;
  }

  .header-actions {
    column-gap: 15px;
  }

  .example-container {
    flex-direction: column;
  }

  .example-left-image {
    max-width: 100%;
    margin-bottom: 16px;
  }

  .example-info-columns {
    gap: 12px;
  }
  .faq-columns {
    flex-direction: column;
  }

  .faq-column {
    width: 100%;
    margin-bottom: 20px;
  }

  .footer-container {
    flex-direction: column;
  }

  .footer-contact {
    margin-top: 20px;
  }
}
