@font-face {
  font-family: "Inter";
  src: url("fonts/Inter24pt-Regular.woff2") format("woof2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("fonts/Inter24pt-SemiBold.woff2") format("woof2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;

  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill="none"], [fill^="url"])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke="none"], [stroke^="url"])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --Main-Primary: #e9ecee;
  --Main-Primary-2: #f8f9fd;
  --Main-Firstly: #a8b1ce;
  --Main-Secondary: #80a0ff;

  --Text-button: #f0f5fd;
  --Text-Prymary: #1f1f1f;
  --Text-Secondary: #696e82;
  --Text-third: #5a81fa;

  --State-Button: #5a80fd;
  --State-Button-hower: #cedeff;
  --State-Button-active: #2b308b;

  --shadow-little: 0px 3px 12px 0px rgba(29, 29, 29, 0.2);
  --shadow-big: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);

  --border-radius-button: 8px;
  --border-button: none;

  --border-radius-reg: 16px;
  --border-reg: 1px solid var(--Text-Secondary);

  --font-family-base: "Inter", sans-serif;

  --input-height: 40px;

  --container-width: 1670px;
  --container-padding-x: 15px;

  --transition-duration: 0.2s;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: var(--Text-Prymary);
  text-decoration: none;
}

a:hover {
  color: var(--Main-Secondary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
font-weight: 600;
text-transform: uppercase;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

body {
  font-family: var(--font-family-base);
  font-size: 22px;
  line-height: 1.75;
  color: var(--Main-Primary);
  background-image: url(../images/registrarion/background.svg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Контейнер */
.container {
  display: flex;
  width: 1200px;
  background: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

/* Левая секция */
.left-section {
  width: 40%;
  background: var(--State-Button);
  color: white;
  text-align: center;
  padding: 40px;
}

.left-section .logo {
flex-shrink: 0;
}

.left-section h2 {
  margin-top: 90px;
  text-align: center;
  font-family: var(--font-family-base);
}

.left-section p {
  font-size: 14px;
  text-align: center;
  font-family: var(--font-family-base);
}

.left-section .btn {
  display: inline-block;
  background: none;
  color: var(--Main-Primary-2);
  border: 1.5px solid var(--Main-Primary-2);
  padding: 5px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
  text-transform: lowercase;
  font-family: var(--font-family-base);
}

.left-section .btn:hover {
  background: var(--Main-Primary-2);
  color: var(--State-Button);
}

/* Правая секция */
.right-section {
  width: 60%;
  padding: 40px;
  text-align: center;
}

.right-section h2 {
  margin-bottom: 10px;
  color: var(--Text-Secondary);
  font-family: var(--font-family-base);
}

.right-section p {
  color: var(--Text-Secondary);
  font-size: 14px;
  font-family: var(--font-family-base);
}

/* Форма */
form {
  margin-top: 20px;
}

.input-group {
  display: flex;
  gap: 10px;
}

.input-group input {
  width: 50%;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Чекбокс */
.checkbox-group {
  display: flex;
  align-items: start;
  gap: 10px;
  font-size: 12px;
  color: var(--Text-Secondary);
  white-space: nowrap;
}

/* Кнопка регистрации */
.btn-primary {
  width: 100%;
  background-color: var(--State-Button);
  color: white;
  padding: 12px;
  border: none;
  border-radius: var(--border-radius-button);
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  text-transform: lowercase;
  box-shadow: var(--shadow-little);
}

.btn-primary:hover {
  color: var(--State-Button-hower);
  background-color: var(--State-Button-active);
}
